<section class="bg-slate-400 py-[80px] my-12">
    <div class="custom-container text-center">
        <h1 class="text-2xl font-semibold mb-4">What Do You Get with Our Tool?</h1>
        <p class="text-lg mb-8">Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            <div class="p-5 border-b border-r border-[#d9d9d9] transition-colors duration-300 hover:bg-white">
                <img src="./Images/GoogleIcon.svg" alt="Feature Icon" class="mx-auto mb-4">
                <h5 class="text-xl font-medium mb-2">Coments on Tasks</h5>
                <p class="text-base">Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="p-5 border-b border-r border-[#d9d9d9] transition-colors duration-300 hover:bg-white">
                <img src="./Images/evernote.svg" alt="Feature Icon" class="mx-auto mb-4">
                <h5 class="text-xl font-medium mb-2">Tasks Analytics</h5>
                <p class="text-base">Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
            </div>
            <div class="p-5 border-b border-r border-[#d9d9d9] transition-colors duration-300 hover:bg-white">
                <img src="./Images/slack.svg" alt="Feature Icon" class="mx-auto mb-4">
                <h5 class="text-xl font-medium mb-2">Multiple Assignees</h5>
                <p class="text-base">A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="p-5 border-b border-r border-[#d9d9d9] transition-colors duration-300 hover:bg-white">
                <img src="./Images/dropbox.svg" alt="Feature Icon" class="mx-auto mb-4">
                <h5 class="text-xl font-medium mb-2">Notifications</h5>
                <p class="text-base">Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
            </div>
            <div class="p-5 border-b border-r border-[#d9d9d9] transition-colors duration-300 hover:bg-white">
                <img src="./Images/zoom.svg" alt="Feature Icon" class="mx-auto mb-4">
                <h5 class="text-xl font-medium mb-2">Sections & Subtasks</h5>
                <p class="text-base">Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="p-5 border-b border-r border-[#d9d9d9] transition-colors duration-300 hover:bg-white">
                <img src="./Images/gmail.svg" alt="Feature Icon" class="mx-auto mb-4">
                <h5 class="text-xl font-medium mb-2">Data Security</h5>
                <p class="text-base">Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
            </div>
        </div>
    </div>

</section>
 
   

