<section id="showcase" class="custom-container ">
  
    <div class="container flex">

        <div class="content">
            <h1 class="d4 ">Task Management Assistant You Gonna Love</h1>
            <p class="py-4">We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
            <a href="#" class="btn-theme">Get Started for free</a>
            <h6 class="py-4">Largest companies use our tool to work efficiently</h6>
            <div class="flex gap-4">
                <img src="./Images/brandipsum1.svg" alt="">
                <img src="./Images/brandipsum2.svg" alt="">
                <img src="./Images/brandipsum3.svg" alt="">
                <img src="./Images/brandipsum4.svg" alt="">
            </div>
        </div>
        <img class="background-image" src="~/Images/screen.svg" alt="showcase image">
    </div>

</section>