@* 
<div class="custom-container">
        <div class="custom-container flex justify-center items-center my-6 gap-2 ">
            <a href="https://www.facebook.com/?locale=sv_SE" target="_blank" class="btn-social"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com/?lang=sv" target="_blank" class="btn-social"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="https://www.instagram.com/" target="_blank" class="btn-social"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/" target="_blank" class="btn-social"><i class="fa-brands fa-github"></i></a>
        </div>
        <p class="text-xs"><b>&copy; @DateTime.Now.Year Silicon by CreatexStudio.</b> All rights reserved. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium reiciendis illum perspiciatis ab nisi dicta consectetur deleniti corrupti atque. Excepturi ad consequatur rerum ipsum sequi ab enim illum nesciunt dolores.</p>
</div>
 *@

@* <div class=" flex justify-center items-center @((ViewContext.RouteData.Values["Controller"]!.ToString() == "Auth") ? "d-none" : "social-media")"> *@

@{
    bool hideSocial = false;
    if (Context.Request.Path.Value!.Equals("/signin") || Context.Request.Path.Value!.Equals("/signup"))
    {
        hideSocial = true;
    }
}

<div class="custom-container">
    <div class="@(hideSocial ? "d-none social-media" : "social-media")custom-container flex justify-center items-center my-6 gap-2 ">
     
        <a href="https://www.facebook.com/?locale=sv_SE" target="_blank" class="btn-social"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://twitter.com/?lang=sv" target="_blank" class="btn-social"><i class="fa-brands fa-square-x-twitter"></i></a>
        <a href="https://www.instagram.com/" target="_blank" class="btn-social"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.youtube.com/" target="_blank" class="btn-social"><i class="fa-brands fa-github"></i></a>
      
    </div>
    <p class="text-xs"><b>&copy; @DateTime.Now.Year Silicon by CreatexStudio.</b> All rights reserved. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium reiciendis illum perspiciatis ab nisi dicta consectetur deleniti corrupti atque. Excepturi ad consequatur rerum ipsum sequi ab enim illum nesciunt dolores.</p>
</div>
